<div>
  
  <label>Id : </label>
  <input type="text" name="id" [(ngModel)]="newArtist.id" />
  
  <label>Name : </label>
  <input type="text" name="name" [(ngModel)]="newArtist.name" />
  
  <label>Role :</label>
  <input type="text" name="role" [(ngModel)]="newArtist.role"  />
  
  <button (click)="create()">Create</button>
  <button (click)="update()">Update</button>
  
  <table *ngIf="artists.length > 0">
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Role</td>
    </tr>
    <tr *ngFor="let artist of artists">
      <td>{{ artist.id }}</td>
      <td>{{ artist.name }}</td>
      <td>{{ artist.role }}</td>
      <td></td>
      <td>
        <button (click)="deleteArtist(artists.id)">
          Delete
        </button>
      </td>
    </tr>
  </table>
  
  <p *ngIf="artists.length == 0">
    Pas d'artiste dans ton cirque.
  </p>
</div>