.content, .show
{
    background-color: rgb(177, 39, 39);
}
.titre
{
    padding-left: 10px;
}
h5,h2,h1
{
    color: white;
}
img, .show
{
    border-radius: 30px;
}
.show
{
    margin: 10px;
    padding: 0;
}