<div class="content">
    <div class="contain ">
        <h1 class="text-center">Numéros actuels</h1>
        <div class="row justify-content-center">
            
            <div class="col-xl-4 col-lg-4 col-sm-6  show shadow card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/pictures/deux_tete.jpg" alt="Tic et Tac">
                <h2 class="text-center pt-2 card-title">Ping et Pong</h2>
                <h5 class="text-center">Un show pour deux !</h5>
                <div class="card-body">
                    <button type="submit" form="" value="Submit"><a routerLink="/reserver" class="nav-link">Reserver</a></button>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-6 col-12 show shadow card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/pictures/ocelot.jpg" alt="Card image cap">
                <h2 class="text-center pt-2 card-title">Lolo L'Ocelot</h2>
                <h5 class="text-center">Venez jouer avec Lolo (12 ans minimum)</h5>
                <div class="card-body">
                    <p class="card-text"></p>
                    <button type="submit" form="" value="Submit"><a routerLink="/reserver" class="nav-link">Reserver</a></button>                </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-6 col-12 show shadow card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/pictures/tigre.jpeg" alt="Card image cap">
                    <h2 class="text-center pt-2 card-title">Taiga la tigresse</h2>
                    <h5 class="text-center">Craignez son rugissement !</h5>
                    <div class="card-body">
                        <p class="card-text"></p>
                        <button type="submit" form="" value="Submit"><a routerLink="/reserver" class="nav-link">Reserver</a></button>                </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-6  show shadow card" style="width: 18rem;">
                        <img class="card-img-top" src="../../assets/pictures/femme_barbe.jpg" alt="Card image cap">
                        <h2 class="text-center pt-2 card-title">Mrs Girl</h2>
                        <h5 class="text-center">Elle est fascinant</h5>
                        <div class="card-body">
                            <p class="card-text"></p>
                            <button type="submit" form="" value="Submit"><a routerLink="/reserver" class="nav-link">Reserver</a></button>                </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-6  show shadow card" style="width: 18rem;">
                            <img class="card-img-top" src="../../assets/pictures/homme_deformer.jpg" alt="Card image cap">
                            <h2 class="text-center pt-2 card-title">Le démon perdu</h2>
                            <h5 class="text-center">Un démon venu d'un autre monde</h5>
                            <div class="card-body">
                                <p class="card-text"></p>
                                <button type="submit" form="" value="Submit"><a routerLink="/reserver" class="nav-link">Reserver</a></button>                </div>
                            </div>   
                        </div>
                    </div>
                </div>