<div class="footer container-fluid">
  <div class="row pt-3">
    <div class="col-xl-4 col-6 footer-left">
      <div class="footer-links">
        <div class="row">
          <div class="liste">
            <ul>
              <li><a routerLink="/accueil">ACCUEIL</a></li>
              <li><a routerLink="/numero">NUMERO</a></li>
              <li><a routerLink="/animaux">ANIMAUX</a></li>
              <li><a routerLink="/acces">CONTACT</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-6 footer-right">
      <ul>
        <li>
          <div>
            <p>Numéro : 06 06 06 06 06</p>
          </div>
        </li>
        <li>
          <div>
            <p>Facebook : <a href="" target="_blank">@wildCircus</a></p>
          </div>
        </li>
      </ul>
    </div>
    <div class="maps col-4">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d88291.89662631156!2d5.181715133993991!3d46.24780699485379!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f34dfb4541874f%3A0x408ab2ae4c1fed0!2s01440+Viriat!5e0!3m2!1sfr!2sfr!4v1563283440972!5m2!1sfr!2sfr" width="auto" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>