<div class="content">
    <h1 class="titre_presentation text-center">Wild Circus</h1>
    
    <p class="text-center texte_presentation texte_generique">Nouveau en France, le cirque Wild Circus arrive dés 2020 pour vous impresionnez.
        Venez voir nos bêtes de foires, animaux, shows et bien d'autre divertissement.<br>
        Fondé en 1990 par le célèbre Trasveti, grand amateur de déguisement depuis bien des années !<br>
        De nouveaux shows tout les 6 mois, venez au cirque Wild Circus ! 
    </p>
</div>