<div class="content">
  <div class="card mb-3 ml-2 mt-2" style="max-width: 60%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/pictures/ocelot.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Race : Ocelot</h5>
          <h6>Lolo</h6>
          <p class="card-text">Lolo est un félin a mi-chemin entre le chat et le tigre. Il vient d'Amazonie.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 ml-2" style="max-width: 50%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/pictures/tigre.jpeg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Race : Tigre de Sibérie</h5>
          <h6>Taiga</h6>
          <p class="card-text">Taiga nous viens tout droit de Sibérie, c'est une tigresse féroce a l'état sauvage.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 ml-2" style="max-width: 60%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="../../assets/pictures/elephant.jpeg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Race : Eléphant</h5>
            <h6>Dumbo</h6>
            <p class="card-text">Dumbo est notre dernier arrivant cette année, il nous a été donné par un cirque en faillite.</p>
          </div>
        </div>
      </div>
    </div>
</div>